/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

 .wp-block-create-block-image-ticker {
    overflow: hidden;
    white-space: nowrap;
	
	.ticker-track {
		display: flex;
		width: 100%;
		overflow: hidden;
		position: relative;
		.ticker-track-list {
			display: flex;
			animation: ticker 60s linear infinite;
			transform-style: preserve-3d;
			backface-visibility: hidden;
			will-change: transform;
			transition-behavior: smooth;
			&:hover {
				animation-play-state: paused;
			}
		}
		figure {
			display: inline-block;
			margin: 0;
			padding: 0;
			img {
				max-width: unset;
				height: 200px; 
				width: auto;
			}
		}
	}
	
}


