/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

 .wp-block-create-block-image-ticker {
    overflow: hidden;	
	.ticker-track {
		display: flex;
  		flex-wrap: nowrap;
		white-space: nowrap;
		position: relative;
		animation: ticker 120s linear infinite;
		&:hover {
			animation-play-state: paused;
		}
		.ticker-track-list {
			float: left;
			white-space: nowrap;
			flex-wrap: nowrap;
			display: flex;			
		}
		figure {
			display: block;
			float: left;
			margin: 0;
			padding: 0;
			img {
				max-width: unset;
				height: unset; 
				@media only screen and (max-width: 768px) {
					height: 160px;
					width: auto;
				}
			}
		}
	}
	
}


