/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

 .wp-block-create-block-services-dropdown {
	display: block;
	width: 100%;
	max-width: 1000px !important; 
	margin: 0 auto 40px !important;
	position: relative;
	z-index: 9;
	* {
		box-sizing: border-box;
	}
	.services-dropdown {
		display: flex;
		align-items: center;
		.service-dropdown-selector {
			display: flex;
			align-items: center;
			justify-content: space-between;
			background-color: #E2E2E2;
			border: 1px solid #E2E2E2;
			border-top-left-radius: 20px;
			border-bottom-left-radius: 20px;
			width: 100%;
			max-width: calc(100% - 220px); 
			height: 70px;
			padding: 20px 30px;
			font-size: 16px;
			text-align: left;
			cursor: pointer;
			span {
				margin-right: 10px;
			}
			.divider {
				width: 1px;
				height: 35px;
				background-color: #A5A5A5;
				margin-left: auto;
				margin-right: 25px;
			}
			svg {
				transition: all 0.3s ease;
			}
			&[aria-expanded="true"] {
				svg {
					transform: rotate(180deg);
				}
			}
		}
		.wp-block-buttons {
			gap: 0 !important;
			.wp-block-button {
				.wp-element-button {
					display: flex;
					align-items: center;
					justify-content: center;
					border-radius: 0;
					border-top-right-radius: 40px;
					border-bottom-right-radius: 40px;
					width: 100%;
					max-width: 200px; 
					height: 70px;
					padding: 20px 30px;
					font-size: 18px;
					font-weight: 700;
					text-align: center;
					text-decoration: none;
					@media (max-width: 781px) {
						padding: 10px 15px;
						max-width: 145px; 
						font-size: 16px;
					}
				}
				&.is-style-outline {
					.wp-element-button {
						background-color: #ffffff;
						border: 1px solid #007749;
						color: #007749;
						&:hover {
							background-color: #007749;
							color: #ffffff;
						}
					}
				}
			}
		}
		@media (max-width: 781px) {
			flex-wrap: wrap;
			max-width: 100%;
			.service-dropdown-selector {
				padding: 10px 15px;
				max-width: 100%;
				border-radius: 20px;
			}
			.wp-block-buttons {
				margin: 15px auto 0;
				.wp-block-button {
					.wp-element-button {
						border-radius: 40px;
					}
				}
			}

		}
		@media (max-width: 480px) {
			.wp-block-buttons {
				width: 100%;
				.wp-block-button {
					width: 100%;
					.wp-element-button {
						width: 100%;
						max-width: 100%;
					}
				}
			}

		}
	}
	.services-list {
		display: flex;
		flex-direction: column;
		width: 100%;
		max-width: calc(100% - 220px);
		padding: 0 30px;
		background-color: #ffffff;
		border-radius: 5px;
		box-shadow: 0.2px 0.2px 1.4px 0px #00000033;
		position: absolute;
		top: 100%;
		left: 0;
		overflow: hidden;
		transition: all 0.5s ease; 
		&.show-dropdown {
			height: auto;
		}
		.service-item {
			padding: 10px 0;
			&:first-child {
				padding-top: 20px;
			}
			&:last-child {
				padding-bottom: 20px;
			}
		}
		.service-fields {
			display: flex;
			align-items: center;
			justify-content: space-between;
			.service-icon {
				display: block;
				width: 90px;
				position: relative;
				.service-icon__image {
					width: 50px;
					height: 50px;
					margin-right: 10px;
					overflow: hidden;
					font-size: 14px;
					svg {
						max-width: 100%;
						max-height: 100%;
					}
				}
			}
			.title-description {
				width: 100%;
			}
		}
		a {
			text-decoration: none;
			color: var(--black);
		}
		.title-plain-text {
			font-size: 18px;
			font-weight: 700;
		}
		.description-plain-text {
			font-size: 16px;
		}
		@media (max-width: 781px) {
			top: 70px;
			max-width: 100%;
			.title-plain-text {
				font-size: 16px;
			}
			.description-plain-text {
				font-size: 14px;
			}
		}
	}
	.editor-styles-wrapper & {
		margin-block-end: 40px;
		.services-dropdown {
			.btn {
				color: #ffffff;
				cursor: pointer;
			}
		}
		.services-list {
			position: relative;
			top: unset;
			.service-icon {
				a { 
					font-size: 12px;
					text-decoration: none;
				}
			}
		}
		.service-block {
			background: #f3f3f3;
			border-radius: 5px;
			border: 1px solid #cacaca;
		}
		button.add-more-service {
			display: flex;
			align-items: center;
			background-color: #ffffff;
			border: 1px solid #007749;
			border-radius: 40px;
			font-size: 16px;
			color: #007749;
			padding: 10px 25px;
			margin-top: 20px; 
			cursor: pointer;
			transition: 0.3s all ease;
			&:hover {
				background-color: #007749;
				color: #ffffff;
			}
		}
		.insert-wrapper {
			display: flex;
			align-items: center;
			justify-content: space-between;
			margin-bottom: 10px;
			span.remove-service {
				display: flex;
				align-items: center;
				justify-content: center; 
				width: 20px;
				height: 20px;
				background-color: #c82333;
				border-color: #bd2130;
				color: #fff;
				padding: 0px 10px;
				border-radius: 50%;
				font-size: 20px;
				cursor: pointer;			
			}
			
		}
		
		textarea {
			border: 1px solid #dadada;
			border-radius: 5px;
			padding: 5px;
			margin-bottom: 10px;
		}
		
		.service-icon {
			position: relative;
			span {
				font-size: 10px;
				line-height: 1.2;
				text-align: center;
				display: block;
				margin-top: 5px;
			}
			a {
				cursor: pointer;
			}
			.service-icon__actions {
				position: absolute;
				top: -10px;
				  right: 10px;
				font-size: 1em;
				text-align: center;
				a {
					display: flex;
					align-items: center;
					justify-content: center; 
					width: 15px;
					height: 15px;
					background-color: #c82333;
					border-color: #bd2130;
					border-radius: 50%;
					color: #ffffff;
					text-decoration: none;
				}
			}
		}
		
		.service-icon__image {
			display: block;
			cursor: pointer;
			text-align: center;
			background-size: contain;
			background-repeat: no-repeat;
			background-position: center;
			font-size: 12px;
		}
		
	}
	
	&.seperated {
		max-width: 1280px !important; 
		margin: 0 auto 40px !important;
		.services-dropdown {
			.service-dropdown-selector {
				border-radius: 20px;
				max-width: calc(100% - 440px); 
				@media (max-width: 781px) {
					max-width: 100%;
				}
			}
			.wp-block-buttons {
				.wp-block-button {
					margin-left: 20px;
					.wp-element-button {
						border-radius: 40px;
						width: 100%;
						max-width: 220px; 
						height: 70px;
						padding: 20px 30px;
						font-size: 18px;
						text-decoration: none;
						@media (max-width: 781px) {
							padding: 10px 15px;
							max-width: 145px; 
							font-size: 16px;
						}
					}
				}
			}
			+ .services-list {
				max-width: calc(100% - 440px);
				@media (max-width: 781px) {
					max-width: 100%;
				}
			}
		}
		
		@media (max-width: 781px) {
			flex-wrap: wrap;
			max-width: 100%;
			.wp-block-buttons {
				margin: 15px auto 0;
				.wp-block-button {
					&:first-child {
						margin-left: 0 !important;
					}
					.wp-element-button {
						border-radius: 40px;
					}
				}
			}

		}
		@media (max-width: 480px) {
			.wp-block-buttons {
				margin: 15px auto 0;
				.wp-block-button {
					margin: 15px 0 0 !important;
					.wp-element-button {
						max-width: 100% !important;
					}
				}
			}

		}
	}
	
}
