/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-create-block-responsive-spacer {
	display: block;
	width: 100%;
	clear: both;
	&.is-selected {
		background: #0000001a;
	}
}
.responsive-spacer {
	height: var(--mobile-height, var(--tablet-height, var(--desktop-height)));
	@media (min-width: 782px) {
		height: var(--tablet-height, var(--desktop-height));
	}
	@media (min-width: 1025px) {
		height: var(--desktop-height);
	}
}